<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <ul>
      <li>Status Rails 4: <%= @gem.status_rails4 %></li>
      <li>Notes Rails 4:  <%= @gem.notes_rails4 %></li>
      <li>Status Rails 5: <%= @gem.status_rails5 %></li>
      <li>Notes Rails 5:  <%= @gem.notes_rails5 %></li>
      <li>Link:   <%= link_to @gem.name, rubygem_url(@gem) %></li>
    </ul>
  </body>
</html>
