- if notifiable.compats.none? || notifiable.compats.where(compatible: nil).any?

  %h2
    Notify via email

  = form_with model: EmailNotification.new, class: 'email-notification-form' do |form|

    .form-row
      .form-group.col-md-6
        = form.label :email, 'Enter your email address to receive a notification when all compatibilities are checked.'
        = form.email_field :email, class: 'form-control', required: true
        %small.form-text.text-muted
          Will only be used for one notification and deleted afterwards.

    = form.hidden_field :notifiable, value: notifiable.to_global_id

    = form.submit 'Save', class: 'btn btn-primary', disable_with: 'Please wait...'

    %small.success
      Success! We will notify you when all is done.

    %small.error
      Oops, an error occurred:
      %span.message
