<%= form_for @gem, class: "form-horizontal well" do |f| %>
  <fieldset>
    <% if @gem.errors.any? %>
      <div class="alert alert-error">
        <p>One or more errors prevented the gem to be saved:</p>
        <ul>
          <% @gem.errors.full_messages.each do |error| %>
            <li><%= error %>.</li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.text_field :miel %>

    <div class="control-group">
      <%= f.label :name, class: "control-label" %>
      <div class="controls">
        <%= f.text_field :name, autofocus: true %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :status, class: "control-label" %>
      <div class="controls">
        <%= f.select :status, Rubygem::STATUSES %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :notes, class: "control-label" %>
      <div class="controls">
        <%= f.text_area :notes %>
        <p class="help-block">You can use Markdown.</p>
      </div>
    </div>

    <div class="form-actions">
      <%= f.submit "Save changes", class: "btn btn-primary" %>
    </div>
  </fieldset>
<% end %>
