<%= form_for @rubygem, class: "form-horizontal well" do |f| %>
  <fieldset>
    <% if @rubygem.errors.any? %>
      <div class="alert alert-error">
        <p>One or more errors prevented the gem to be saved:</p>
        <ul>
          <% @rubygem.errors.full_messages.each do |error| %>
            <li><%= error %>.</li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <%= f.text_field :miel %>

    <p class="alert alert-info">Register a new gem only if you know whether it is ready or not. Thanks :)</p>

    <div class="control-group">
      <%= f.label :name, class: "control-label" %>
      <div class="controls">
        <%= f.text_field :name, autofocus: true %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :status_rails4, class: "control-label" %>
      <div class="controls">
        <%= f.select :status_rails4, Rubygem::STATUSES %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :notes_rails4, class: "control-label" %>
      <div class="controls">
        <%= f.text_area :notes_rails4, placeholder: "Please indicate how you know it's ready or not: point to the Changelog, the README, issue(s), etc. You can use Markdown." %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :status_rails5, class: "control-label" %>
      <div class="controls">
        <%= f.select :status_rails5, Rubygem::STATUSES %>
      </div>
    </div>

    <div class="control-group">
      <%= f.label :notes_rails5, class: "control-label" %>
      <div class="controls">
        <%= f.text_area :notes_rails5, placeholder: "Please indicate how you know it's ready or not: point to the Changelog, the README, issue(s), etc. You can use Markdown." %>
      </div>
    </div>
    <div class="form-actions">
      <%= f.submit "Save changes", class: "btn btn-primary" %>
    </div>
  </fieldset>
<% end %>
