<%= form_for @gem do |f| %>
  <% if @gem.errors.any? %>
  <p>One or more errors prevented the gem to be saved:</p>
  <ul>
    <% @gem.errors.full_messages.each do |error| %>
      <li><%= error %></li>
    <% end %>
  </ul>
  <% end %>

  <%= f.label :name %>
  <%= f.text_field :name, autofocus: true, required: true %>

  <%= f.label :status %>
  <%= f.select :status, Rubygem::STATUSES %>

  <%= f.label :notes %>
  <%= f.text_area :notes %>

  <%= f.submit "Save" %>
<% end %>
