<%= form_tag :rubygems, method: :get, remote: true, class: "well form-search", id: "gems-search" do %>
  <%= text_field_tag :query, nil, placeholder: "Type the name of a gem", autofocus: true, autocomplete: "off", class: "input-medium search-query" %>
  <%= submit_tag 'Search', class: "btn btn-primary" %>
  <%= link_to "Register new gem", new_rubygem_path, class: "btn btn-success pull-right" %>
<% end %>

<table class="table table-bordered table-striped table-hover">
  <thead>
    <th>Name</th>
    <th>Status</th>
    <th>Notes<th>
  </thead>
  <tbody>
    <%= render 'gems' %>
  </tbody>
</table>
