<%= form_tag :rubygems, method: :get do %>
  <%= text_field_tag :query, nil, placeholder: "Search?", autofocus: true %>
<% end %>

<p><%= link_to "Register new gem", new_rubygem_path %></p>
<table>
  <thead>
    <th>Name</th>
    <th>Status</th>
    <th>Notes<th>
  </thead>
  <tbody>
    <% @gems.each do |gem| %>
      <tr>
        <td><%= gem.name %></td>
        <td><%= gem.status %></td>
        <td><%= gem.notes %></td>
      </tr>
    <% end %>
  </tbody>
</table>
