<%= form_tag :rubygems, method: :get, class: "well form-search" do %>
  <%= text_field_tag :query, nil, placeholder: "Type the name of a gem", autofocus: true, class: "input-medium search-query" %>
  <%= submit_tag 'Search', class: "btn btn-primary" %>
<% end %>

<p><%= link_to "Register new gem", new_rubygem_path %></p>
<table class="table table-bordered table-striped table-hover">
  <thead>
    <th>Name</th>
    <th>Status</th>
    <th>Notes<th>
  </thead>
  <tbody>
    <% @gems.each do |gem| %>
      <tr>
        <td><%= link_to gem.name, gem %></td>
        <td><%= gem.status %></td>
        <td><%= gem.notes %></td>
      </tr>
    <% end %>
  </tbody>
</table>
