<h2>
  <%= @gem.name %> -
  <%= link_to 'edit info', edit_rubygem_path(@gem) %>
</h2>

<p>Ready for Rails 4? <%= display_status @gem %>.</p>
<p><em>Status or notes updated <%= time_ago_in_words @gem.updated_at%> ago.</em></th>

<% if @gem.notes.present? %>
  <p><%= markdown @gem.notes %></p>
<% end %>

<p>See on <a href="http://rubygems.org/gems/<%= @gem.name %>">rubygems.org</a>.</p>

<p>
  <em>Please comment below if you know the current status of this gem, or want
  to add extra info. We'll update the info accordingly, thanks!</em>
</p>

<%= render 'application/disqus' %>
