<h2>
  <%= @gem.name %>

</h2>

<p>Ready for Rails 4? <%= display_status @gem.status %>.</p>

<% if @gem.notes.present? %>
  <p><%= markdown @gem.notes %></p>
<% end %>

<p>
  Please comment if you know the current status of this gem, or want
  to add extra info. We'll update the info accordingly
  <% if !@gem.ready? %>
    or you can <%= link_to 'help us', edit_rubygem_path(@gem) %>
  <% end %>
  , thanks!
</p>

<%= render 'application/disqus' %>
