<h2>
  <%= @gem.name %> -
  <%= link_to 'edit info', edit_rubygem_path(@gem) %>
</h2>

<p>Ready for Rails 4? <%= display_status @gem %>.</p>

<% if @gem.notes.present? %>
  <p><%= markdown @gem.notes %></p>
<% end %>

<p>
  Please comment if you know the current status of this gem, or want
  to add extra info. We'll update the info accordingly, thanks!
</p>

<%= render 'application/disqus' %>
