<h2>
  <%= @gem.name %>
  <a class="rubygems-link" href="https://rubygems.org/gems/<%= @gem.name %>">https://rubygems.org/gems/<%= @gem.name %></a></span>
</h2>

<hr>
<p>Ready for Rails 4? <%= display_status @gem.status_rails4 %></p>
<p><%= markdown @gem.notes_rails4 %></p>

<hr>
<p>Ready for Rails 5? <%= display_status @gem.status_rails5 %></p>
<p><%= markdown @gem.notes_rails5 %></p>

<hr>
<p><em>Status or notes updated <%= time_ago_in_words @gem.updated_at%> ago.</em></th>
<p><em>Please comment below if you know the current status of this gem, or want to add extra info. We'll update the info accordingly, thanks!</em></p>

<%= render 'application/disqus' %>
