%section

  %h1
    Welcome to RailsBump! 👋

  %p
    RailsBump lets you check your Ruby gems for compatibility with all major Rails versions. This is useful if you're planning to upgrade a Rails app to the next major version. You can either check an individual gem or a whole Bundler lockfile (Gemfile.lock).
    %br
    Read more about how it works and the history of this project
    = link_to 'on GitHub', 'https://github.com/manuelmeurer/railsbump', target: '_blank'
    and please
    = link_to 'open an issue', 'https://github.com/manuelmeurer/railsbump/issues', target: '_blank'
    if you encounter a problem.

%section
  = link_to 'Check a gem', %i(new gemmy), class: 'btn btn-primary'
  = link_to 'Check a lockfile', %i(new lockfile), class: 'btn btn-info'

%section
  %h2
    Latest checked gems
  = render 'compats/table', gemmies: @gemmies
