-# frozen_string_literal: true

%section

  %h1
    Gem
    = @gemmy.name

  %p
    Indexed versions:
    = @gemmy.versions.size
    - if @gemmy.versions.any?
      = surround "(", ")" do
        = [@gemmy.versions.first, (@gemmy.versions.last if @gemmy.versions.many?)].compact.join(" ... ")
    •
    = link_to "Show on RubyGems.org", "https://rubygems.org/gems/#{@gemmy.name}", target: "_blank"

%section
  = render "compats/table", gemmies: [@gemmy], show_gem_name: false

= render "email_notifications/form", notifiable: @gemmy
