<% @gems.each do |gem| %>
  <tr>
    <td><%= link_to gem.name, gem %></td>
    <td><%= display_status gem.status_rails4 %></td>
    <td><%= markdown gem.notes_rails4 %></td>
    <td><%= display_status gem.status_rails5 %></td>
    <td><%= markdown gem.notes_rails5 %></td>
    <td><%= time_ago_in_words gem.updated_at %> ago</td>
  </tr>
<% end %>

