<section>
  <h1>Lockfile Check Results</h1>

  <p>
    Checked <%= l @lockfile.created_at, format: :long %>
    &bull;
    <%= link_to "Show content", "#", data: { bs_toggle: "modal", bs_target: "#lockfile-content-modal" } %>
  </p>
</section>

<%= turbo_stream_from @lockfile, :gem_checks %>

<%= render "lockfiles/checks_container", lockfile: @lockfile %>

<div id="lockfile-content-modal" class="modal fade">
  <div class="modal-dialog modal-dialog-scrollable modal-lg">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5">Lockfile content</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
      </div>
      <div class="modal-body">
        <pre><%= @lockfile.content %></pre>
      </div>
      <div class="modal-footer">
        <%= link_to "Close", "#", class: "btn btn-primary", data: { bs_dismiss: "modal" } %>
      </div>
    </div>
  </div>
</div>
