%section

  %h1
    Lockfile check results

  %p
    Checked
    = l @lockfile.created_at, format: :long
    •
    = pluralize @lockfile.accessible_and_inaccessible_gemmies.size, "gem"
    •
    = link_to "Show content", "#", data: { bs_toggle: "modal", bs_target: "#lockfile-content-modal" }

%section{ class: "overflow-x-auto" }
  = render template: "gemmies/compat_table", locals: { gemmies: @lockfile.gemmies, inaccessible_gemmies: @lockfile.inaccessible_gemmies }

= render "email_notifications/form", notifiable: @lockfile

#lockfile-content-modal.modal.fade
  .modal-dialog.modal-dialog-scrollable.modal-lg
    .modal-content
      .modal-header
        %h1.modal-title.fs-5
          Lockfile content
        %button.btn-close{ type: "button", data: { bs_dismiss: "modal" } }
      .modal-body
        %pre
          = @lockfile.content
      .modal-footer
        = link_to "Close", "#", class: "btn btn-primary", data: { bs_dismiss: "modal" }
