%h1
  Show Gemfile check results

%p
  Checked
  = l @gemfile.created_at, format: :short
  &middot;
  = link_to 'Show content', '#', data: { toggle: 'modal', target: '#gemfile-content-modal' }

= render 'compats/table', gemmies: @gemfile.gemmies

#gemfile-content-modal.modal.fade
  .modal-dialog.modal-dialog-scrollable.modal-lg
    .modal-content
      .modal-header
        %h5.modal-title
          Gemfile content
        %button.close{ type: 'button', data: { dismiss: 'modal' } }
          %span
            &times;
      .modal-body
        %pre
          - 3.times do
            = @gemfile.content
      .modal-footer
        = link_to 'Close', '#', class: 'btn btn-primary', data: { dismiss: 'modal' }

= render 'email_notifications/form', notifiable: @gemfile
