%header
  = navbar container: 'lg' do
    = brand_link 'RailsBump'
    = navbar_collapse class: 'justify-content-end' do
      = navbar_group do
        =# navbar_item 'Add gem', new_gemmy_path
        =# navbar_item 'Check Gemfile', new_gemfile_path
        = navbar_item 'GitHub', 'https://github.com/manuelmeurer/railsbump'
