!!!

%html
  %head
    %title
      RailsBump

    = csrf_meta_tags
    = csp_meta_tag

    = render './favicons'

    %meta{ charset: "utf-8" }

    %meta{ "http-equiv": "X-UA-Compatible", content: "IE=edge,chrome=1" }
    %meta{ "http-equiv": "Content-Type",    content: "text/html; charset=utf-8" }

    %meta{ name: "viewport",                content: "width=device-width, initial-scale=1" }

    = stylesheet_link_tag :application, media: 'all'
    = javascript_pack_tag :application, data: { 'turbolinks-track': 'reload' }, defer: true
    = javascript_include_tag 'https://stats.railsbump.org/js/index.js', async: true, defer: true, data: { domain: 'railsbump.org' }

  %body{ class: page_classes }
    = render './header'
    %main.container-lg
      = flash_messages
      = yield
